*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	/* thiis defines what 1rem is, so we can't really call it typography */
	font-size: 62.5%;
	font-family: 'Google Sans', sans-serif;
	/* it is advisable to use 10px for easy calculations when using rem*/
}

body {
	background-color: #f1efe9;
	box-sizing: border-box;
	padding: 1rem 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.header {
	width: 55%;
	border-radius: 0.5rem;
	background-image: url('../images/header-image.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 150px;
	margin-bottom: 1rem;
}

.main {
	position: relative;
	width: 55%;
	margin-bottom: 1rem;
}

.intro {
	border-radius: 0.5rem;
	background-color: #fff;
	border-left: 1px solid #e7e8eb;
	border-bottom: 1px solid #e7e8eb;
	border-right: 1px solid #e7e8eb;
	border-top: 1rem solid #765c23;
	padding: 1.5rem;
	margin-bottom: 1rem;
}

.heading {
	font-size: 3rem;
	font-weight: 400;
	letter-spacing: normal;
}

.paragraph-section {
	margin-top: 1rem;
}

.paragraph {
	font-size: 1.4rem;
	line-height: 2rem;
}

.paragraph-12 {
	word-wrap: break-word;
	font-size: 1.2rem;
	line-height: 2rem;
}

.red {
	color: #ff0000;
}

.form-group {
	position: relative;
	overflow: hidden;
	border-radius: 0.5rem;
	background-color: #fff;
	border: 1px solid #e7e8eb;
	padding: 2.5rem 2rem;
	margin-bottom: 1rem;
	font-size: 1.4rem;
}

.label {
	font-size: 1.4rem;
	line-height: 2rem;
}

input[type='text'],
input[type='email'],
input[type='date'] {
	border: 0;
	border-bottom: 1px solid #e5e5e5;
	width: 40%;
	margin-top: 3rem;
	outline: 0;
}

input[type='date'] {
	margin-top: 1rem;
}

input[type='text']:focus,
input[type='email']:focus,
input[type='date']:focus {
	border-bottom: 2px solid #765c23;
}

.file-input-wrapper {
	position: relative;
	overflow: hidden;
	width: 100%;
	display: inline-block;
}

.file-input-wrapper input[type='file'] {
	font-size: 1.4rem;
	position: absolute;
	left: 0;
	top: 0;
	height: 4rem;
	opacity: 0;
}

.file-input {
	margin-top: 0.5rem;
	border: 1px solid #eee;
	color: #000fff;
	background-color: #fff;
	padding: 1rem;
	outline: 0;
	font-weight: 500;
	border-radius: 0.5rem;
	font-size: 1.2rem;
	transition: all 0.3s;
}

.file-input:hover {
	background-color: #e4eefc;
}

[id^='filelist-'] {
	width: 72%;
	position: relative;
	margin-top: 1rem;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 0.5rem;
	/* align-items: flex-start; */
}

.file-item {
	padding: 1rem;
	display: flex;
	font-size: 1.2rem;
	align-items: center;
	justify-content: space-around;
	border: 1px solid #ccc;
	border-radius: 0.3rem;
}

.remove-btn {
	outline: 0;
	border: 0;
	font-size: 1.2rem;
	background-color: #fff;
	cursor: pointer;
}

.selector-wrapper {
	position: relative;
	padding-top: 2rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	padding-left: 4rem;
	text-align: center;
	cursor: pointer;
	-moz-user-select: none;
	-webkit-user-select: none;
}

input[type='checkbox'],
input[type='radio'] {
	position: absolute;
	opacity: 0;
	height: 0;
	width: 0;
	cursor: pointer;
}

.selector-wrapper input[type='checkbox'] ~ .other-info,
.selector-wrapper input[type='radio'] ~ .other-info {
	display: inline-block;
	border: 0;
	border-bottom: 1px solid #e5e5e5;
	margin-top: 1rem;
	width: 40%;
	outline: 0;
}

.selector-wrapper input[type='checkbox'] ~ .other-info,
.selector-wrapper input[type='radio'] ~ .other-info:focus {
	border-bottom: 2px solid #765c23;
}

.custom-checkbox {
	position: absolute;
	top: 1.5rem;
	left: 0;
	border: 0.1rem solid #000;
	width: 2.5rem;
	height: 2.5rem;
}

.custom-radio {
	position: absolute;
	top: 1.5rem;
	left: 0;
	border: 0.1rem solid #000;
	border-radius: 50%;
	width: 2.5rem;
	height: 2.5rem;
}

.selector-wrapper:hover input[type='checkbox'] ~ .custom-checkbox {
	background-color: #ccc;
}

.selector-wrapper:hover input[type='radio'] ~ .custom-radio {
	background-color: #ccc;
}

.selector-wrapper input[type='checkbox']:checked ~ .custom-checkbox {
	background-color: #765c23;
}

/* .selector-wrapper input[type='radio']:checked ~ .custom-radio {
	background-color: #765c23;
} */

.custom-checkbox::after,
.custom-radio::after {
	content: '';
	position: absolute;
	display: none;
}

.selector-wrapper input[type='checkbox']:checked ~ .custom-checkbox:after,
.selector-wrapper input[type='radio']:checked ~ .custom-radio:after {
	display: block;
	background-color: #765c23;
}

.custom-checkbox::after {
	position: absolute;
	top: 0.4rem;
	left: 0.9rem;
	width: 0.7rem;
	height: 1.4rem;
	border: solid #fff;
	border-width: 0 0.3rem 0.3rem 0;
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.custom-radio::after {
	position: absolute;
	top: 50%;
	left: 50%;
	border-radius: 50%;
	width: 60%;
	height: 60%;
	transform: translate(-50%, -50%);
}

.mg-horizontal {
	margin: 0 1rem;
}

.btn {
	background-color: #fff;
	outline: 0;
	border: 0;
	padding: 0.8rem 1.7rem;
	font-size: 1.4rem;
	font-weight: 500;
	color: #765c23;
	margin-right: 1rem;
	border-radius: 0.3rem;
	box-shadow: 0 0.1rem 0.2rem #333;
	cursor: pointer;
	transition: all 0.3s;
}

.btn:hover {
	background-color: #f1efe9;
}

.brown {
	color: #fff;
	background-color: #765c23;
	display: none;
}

.brown:hover {
	background-color: #836931;
}

.no-pad {
	padding: 0;
}

.pad {
	padding: 2.5rem 2rem;
}

.form-heading {
	/* position: absolute;
	top: 0;
	left: 0;
	display: block; */
	padding: 1rem;
	width: 100%;
	background-color: #765c23;
	color: #fff;
}

.footer {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.guage-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 42%;
}

.guage-bar {
	position: relative;
	width: 12rem;
	height: 1rem;
	border-radius: 1.5rem;
	background-color: #686e73;
}

.guage {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #8ab3f6;
	width: 1.2rem;
	align-self: flex-end;
	height: 1rem;
	border-radius: 1.5rem;
	z-index: 2;
}

@media only screen and (max-width: 720px) {
	.header {
		width: 95%;
		height: 60px;
	}

	.main {
		width: 95%;
	}

	.intro {
		padding: 1rem;
	}

	.heading {
		font-size: 1.5rem;
	}

	[id^='filelist-'] {
		width: 82%;
	}
}
